* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-title {
	display: block;
	padding: 10px;
	border-bottom: 2px solid;
	text-align: center;
}

.scoreboard {
	display: block;
	padding: 50px;
}

.boxes {
	display: grid;
	grid-template-columns: repeat(5, minmax(85px, 100px));
	justify-content: center;
	align-items: center;
}

.single-box {
	justify-self: center;
	text-align: center;
	border: 4px solid #999;
	height: 100px;
	width: 85px;
	margin: 8px;
	padding: 30px;
	font-size: 30px;
	font-weight: bold;
}

@keyframes redBorder {
	0% {
		border-color: rgb(255, 0, 0);
	}
	8% {
		border-color: rgb(230, 0, 0);
	}
	16% {
		border-color: rgb(195, 0, 0);
	}
	25% {
		border-color: rgb(160, 0, 0);
	}
	33% {
		border-color: rgb(125, 0, 0);
	}
	50%, 100% {
		border-color: #999;
	}
}

.red-border {
	animation: redBorder 1s ease-in forwards;
}

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
.rainbow {
    animation: rainbow 4s infinite linear;
}