* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.page {
	display: flexbox;
}

.page-header {
	background-color: #43281c;
    color: #fbf2c0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 25px;
	position: relative;
	top: 3px;
}

.left-box {
	padding: 15px;
	background-color: #eee1d5;
	grid-area: left-box;
	height: 200%;
	width: 100%;
	border-radius: 10px;
}

.checkout-list {
	list-style: none;
	font-weight: bold;
}

.list-item {
	margin-bottom: 20px;
}

.input-field {
	border-radius: 100px;
}

.right-box-1 {
	padding: 15px;
	background-color: #eee1d5;
	grid-area: right-box-one;
	height: 50%;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 15px;
}

.right-box-2 {
	padding: 15px;
	background-color: #eee1d5;
	grid-area: right-box-two;
	height: 150%;
	width: 100%;
	border-radius: 10px;
}

.boxes {
	padding: 30px;
	display: grid;
	font-family: 'Open Sans', sans-serif;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
						"left-box right-box-1"
						"left-box right-box-2";
	font-style: normal;
	font-size: 16px;
    column-gap: 30px;
	color: #885a2d;
}

label {
	position: relative;
}

input {
	display: block;
	width: 100%;
	border: #885a2d solid;
	border-radius: 100px;
	padding: 8px;
	background-color: #eee1d5;	
}

/* footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: white;
} */